body {
  max-width: unset;
  text-align: center;
}

input {
  margin: auto;
}

.btn {
  height: 50px !important;
  width: 50px !important;
  padding: 0 !important;
  margin: 0 !important;
  display: inline !important;
}
